<%= render 'shared/header' %>
<%= render "shared/login_overlay" %>
<%= render "shared/menu" %>

<%= form_tag('/analytics/change_team_and_dates') do %>
  <table>
    <th>From Date</th>
    <th>To Date</th>
    <th>Team</th>
    <th>View Analytics</th>
    <tr>
      <td><%= date_field_tag :from_date, @from_date %></td>
      <td><%= date_field_tag :to_date, @to_date %></td>
      <td><%= select_tag 'team', options_from_collection_for_select(@teams, 'id', 'team_name', session[:team]) %>
      </td>
      <td><%= submit_tag 'View Analytics' %>
      </td>
    </tr>
  </table>
<% end %>

<h2 class="most_failed_scenario">Most Failed Scenarios</h2>
<h2 class="longest_running_test">Longest Running Tests</h2>
<table class="most_failed_scenario">
  <th>Scenario</th>
  <th>Failed Percent</th>
  <% @most_failed_scenarios.each do |scenario_id, scenario| %>
    <tr>
      <td><%= scenario[:scenario_name] %></td>
      <td style="background-color: rgba(255, 0, 0, <%=scenario[:test_fail_percent].to_f / 100.0 %>)">
        <%= scenario[:test_fail_percent] %>%
      </td>
    </tr>
  <% end %>
</table>

<table class="longest_running_test">
  <th>Scenario</th>
  <th>Duration</th>
  <th>Compared To Average</th>
  <% @longest_running_tests.each do |scenario_id, scenario| %>
    <tr>
      <td><%= scenario[:scenario_name] %></td>
      <td><%= scenario[:duration] %></td>
      <% if scenario[:compared_to_average] > 100 %>
        <td style="background-color: rgba(255, 0, 0, <%= (scenario[:compared_to_average] - 100).to_f / 100.0 %>)">
          <%= scenario[:compared_to_average] %>%
        </td>
      <% else %>
        <td style="background-color: rgba(0, 255, 0, <%= (100 - scenario[:compared_to_average].to_f) / 100.0 %>)">
          <%= scenario[:compared_to_average] %>%
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<h2>Most Common Errors</h2>
<table>
  <th>Error Message</th>
  <th>Error Count</th>
  <% @most_common_errors.each do |error_messages_id, error| %>
    <tr>
      <td><%= error[:error_message] %></td>
      <td><%= error[:error_count] %></td>
    </tr>
  <% end %>
</table>
