<%= render 'shared/header' %>
<%= render "shared/menu" %>

<%= form_tag('/report_viewer/view_report') do %>
  <table>
    <th>From Date</th>
    <th>To Date</th>
    <th>Team</th>
    <th>Profile</th>
    <th>View Report</th>
    <tr>
      <td><%= date_field_tag :from_date, @from_date %></td>
      <td><%= date_field_tag :to_date, @to_date %></td>
      <td><%= select_tag 'team_selector', options_from_collection_for_select(@teams, 'id', 'team_name', session[:team]) %></td>
      <td>
        <% @profiles.each do |team, profiles| %>
          <div class="profile_selector" id="team_<%= team %>_profiles"
               <% unless team.to_i.eql? session[:team].to_i %>style="display: none;"
               <% end %>>
            <%= select_tag "profile_team_#{team}", options_from_collection_for_select(profiles, 'id', 'profile_name', session[:profile]), include_blank: 'None' %>
          </div>
        <% end %>
      </td>
      <td><%= submit_tag 'View Report' %></td>
    </tr>
  </table>
<% end %>

<table>
  <th>Features</th>
  <th>Scenarios</th>
  <% @test_run_times.each do |time| %>
    <th><%= time %></th>
  <% end %>
  <% @test_data.each do |feature_json_id, feature_data| %>
    <tr>
      <td rowspan="<%= feature_data[:scenarios].size + 1 %>">
        <div class="feature_name"><%= feature_data[:feature_name] %></div>
        <div class="feature_details"><%= feature_data[:feature_description] %></div>
      </td>
    </tr>
    <% feature_data[:scenarios].each do |scenario_json_id, scenario_data| %>
      <tr>
        <td>
          <div class="scenario_name"><%= scenario_data[:scenario_name] %></div>
          <div class="scenario_details">
            <%= scenario_data[:scenario_description] %>
            <div class="steps">
              <% scenario_data[:steps].split("\n").each do |step| %>
                <div class="step">
                  <div class="step_keyword"><%= step.split(' ').first %></div>
                  <div class="step_name"><%= step.split(' ')[1..-1].join(' ') %></div>
                </div>
              <% end %>
            </div>
          </div>
        </td>
        <% scenario_data[:scenario_tests].each do |test| %>
          <% if test.nil? %>
            <td bgcolor="#a9a9a9">
              <div class="test_status">Not in this Run</div>
            </td>
          <% elsif test[:passed] %>
            <td bgcolor="#32cd32">
              <h4 class="test_status">Passed</h4>
              <div class="test_details">
                <div class="report_info_box">
                  <div class="duration_title">Duration:</div>
                  <div class="duration_details"><%= (test[:duration].to_f / 1000000000.0).to_i %> Seconds</div>
                </div>
              </div>
            </td>
          <% else %>
            <td bgcolor="red">
              <h4 class="test_status">Failed</h4>
              <div class="test_details">
                <div class="report_info_box">
                  <div class="duration_title">Duration</div>
                  <div class="duration_details"><%= (test[:duration].to_f / 1000000000.0).to_i %> Seconds</div>
                </div>
                <div class="report_info_box">
                  <div class="error_message_title">Error Message</div>
                  <div class="error_message_details"><%= test[:error_message] %></div>
                </div>
                <% test[:notes].each do |note_for, notes| %>
                  <div class="report_info_box">
                    <div class="note_title_<%= note_for.downcase.gsub(' note', '') %>"><%= note_for %></div>
                    <% notes.each do |note| %>
                      <% if note.eql? notes.last %>
                        <div class="last_note note_text_<%= note_for.downcase.gsub(' note', '') %>">
                          <%= note %></div>
                      <% else %>
                        <div class="note_text_<%= note_for.downcase.gsub(' note', '') %>"><%= note %></div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <% if @note_access %>
                  <button class="add_note_button">Add Note</button>
                  <div class="note_form">
                    <%= form_tag '/notes' do %>
                      <%= hidden_field_tag :scenario, scenario_data[:scenario_id] %>
                      <%= hidden_field_tag :test, test[:id] %>
                      <%= hidden_field_tag :error_message, test[:error_message_id] %>
                      <%= select_tag :note_for, options_from_collection_for_select(@error_for_options, :first, :last) %>
                      <%= text_area_tag :note %>
                      <%= submit_tag 'Save Note', class: 'save_note_button' %>
                    <% end %>
                    <button class="cancel_add_note_button">Cancel</button>
                  </div>
                <% end %>
              </div>
            </td>
          <% end %>
        <% end %>
      </tr>

    <% end %>
  <% end %>
</table>