<h1>Reports</h1>

<%= render "shared/menu" %>

<table>
  <th>From Date</th>
  <th>To Date</th>
  <th>Team</th>
  <th>Profile</th>
  <th>View Report</th>
  <%= form_tag('/report_viewer/view_report') do %>
    <tr>
      <td><%= date_field_tag :from_date, @from_date %></td>
      <td><%= date_field_tag :to_date, @to_date %></td>
      <td><%= select_tag 'team', options_from_collection_for_select(@teams, 'id', 'team_name', session[:team]) %></td>
      <td>
        <% @profiles.each do |team, profiles| %>
        <div class="profile_selector" id="team_<%= team %>_profiles"
             <% unless team.to_i.eql? session[:team].to_i %>style="display: none;"
             <% end %>>
          <%= select_tag "profile_team_#{team}", options_from_collection_for_select(profiles, 'id', 'profile_name', session[:profile]), include_blank: 'None' %>
        </div>
      <% end %>
      </td>
      <td><%= submit_tag 'View Report' %></td>
    </tr>
  <% end %>

</table>
<table>
  <th>Features</th>
  <th>Scenarios</th>
  <% @test_run_times.each do |time| %>
    <th><%= time %></th>
  <% end %>
  <% @test_data.each do |feature_json_id, feature_data| %>
    <tr>
      <td rowspan="<%= feature_data[:scenarios].size + 1 %>">
        <%= feature_data[:feature_name] %>
      </td>
    </tr>
    <% feature_data[:scenarios].each do |scenario_json_id, scenario_data| %>
      <tr>
        <td>
          <%= scenario_data[:scenario_name] %>
        </td>
        <% scenario_data[:scenario_tests].each do |test| %>
          <% if test.nil? %>
            <td bgcolor="#a9a9a9">
              <div class="test_status">Not in this Run</div>
            </td>
          <% elsif test[:passed] %>
            <td bgcolor="#32cd32">
              <div class="test_status">Passed</div>
              <div class="test_details">
                <div>Duration: <%= test[:duration] %></div>
              </div>
            </td>
          <% else %>
            <td bgcolor="red">
              <div class="test_status">Failed</div>
              <div class="test_details">
                <div>Duration: <%= test[:duration] %></div>
                <div><%= test[:error_message] %></div>
                <% test[:Notes].each do |note_for, notes| %>
                  <div><%= note_for %></div>
                  <% notes.each do |note| %>
                    <div><%= note %></div>
                    <div>-------------------</div>
                  <% end %>
                <% end %>
                <%= form_tag '/notes' do %>
                  <%= hidden_field_tag :scenario, scenario_data[:scenarios_id] %>
                  <%= hidden_field_tag :test, test[:test_id] %>
                  <%= hidden_field_tag :error_message, test[:error_message_id] %>
                  <%= text_area_tag :note %>
                  <%= select_tag :note_for, options_for_select(%w(Scenario Test Error)) %>
                  <%= submit_tag 'Add Note' %>
                <% end %>
              </div>
            </td>
          <% end %>
        <% end %>
      </tr>

    <% end %>
  <% end %>
</table>